SHOW PAGE

<table border="1">
  <tr>
    <th>CATEGORY</th>
    <th>Subcategory</th>
    <th><%= params[:id] %></th>

  </tr>
  <% @subcat.each do |sub| %>
  <tr>
      <th><%= sub.category %></th>
      <th><%= sub.name %></th>

      <% @monthlyBudget.each do |amt| %>
        <% if amt.name == sub.name %>
          <th><%= amt.amount %> </th>
        <% end %>
      <% end %>


  </tr>
  <% end %>


</table>

<br><br>
<% @monthlyBudget.each do |e| %>
  <%= form_for :budget, url: "/budget_setup/#{e.id}", :method => :put do |f| %>
    <%= label_tag(:name, "Name") %>
    <%= text_field_tag :name, e.name %> <br>
    <%= label_tag(:amount, "Amount") %>
    <%= text_field_tag :amount, e.amount %> <br>
    <%= label_tag(:category, "Category") %>
    <%= text_field_tag :category, e.category %> <br>
    <%= label_tag(:month_num, "Month Number") %>
    <%= text_field_tag :month_num, e.category %> <br>
    <%= label_tag(:month, "Month") %>
    <%= f.select :month, ["ALL", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], :selected => params[:id] %> <br>
    <%= label_tag(:year, "Year") %>
    <%= text_field_tag :year, "2017" %> <br>
    <%= hidden_field_tag :user_id, @user_id %>
    <%= hidden_field_tag :id, e.id %>
    <%= f.submit "Update Subcategory!" %>
  <% end %>
<% end %>
