<% if user_has_categories(@user_hash) %>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Subcategories</h2>
        <p>Congrats on setting up your categories! You are now ready to set up your subcategories for each category below. Each category must have at least one subcategory.</p>
        <p>Some examples of subcategories include: restaurants, groceries, and takeout for a food category; cable bill, electricity bill, rent/mortgage, furniture, and upkeep for a home category; metrocard, uber, taxi, car payment, and parking for a transportation category.</p>
        <p class="bottom-p">Once you have created at least one subcategory for each category, you can move on to the <a href="/monthly_budget?year=2017">budget setup</a> page.</p>
        <%= form_for :subcategory, url: "/subcategories" do |f| %>
          <%= label_tag(:name, "Create a subcategory:") %><br>
          <%= f.text_field :name, placeholder: "Your subcategory", class: "category_input" %> <br>
          <%= label_tag(:category, "Category:") %><br>
          <%= f.collection_select :category_id,  @categories, :id, :title, class: "drop-down-category" %> <br>
          <%= f.hidden_field :user_id, :value => @user %>
          <%= f.submit "Add Subcategory!", class: "btn btn-info btn-xs subcat-button" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <h4 class="text-center subcategory-title">Your categories & subcategories:</h4>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-md-offset-3">
        <table border="1" class="table category_table">
          <tr>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Update?</th>
            <th>Delete?</th>
          </tr>
          <% @categories.each do |category| %>
            <% @subcategories.each do |subcategory| %>
              <% if subcategory[1] == category.id %>
                <tr>
                  <td><strong><%= category[:title] %></strong></td>
            <%= form_for :subcategory, url: "/subcategories/#{subcategory[2]}", :method => :put do |f| %>
              <td><%= f.text_field :name, :value => subcategory[0] %></td>
              <td><%= f.submit "Update!", class: "btn btn-success btn-xs" %></td>
            <% end %>
              <td><%= link_to 'Delete', Subcategory.find_by_id(subcategory[2]), data: {:confirm => 'Are you sure? Deleting this subcategory will delete all budgets and any expenses related to it.'}, :method => :delete %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
<% else %>
  <!-- if there are no categories set up for this user-->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Oops!</h2>
        <p>It looks like you forgot to create categories! Please return to the <a href="/categories">categories</a> page. Your subcategories page will be available once this is fixed!</p>
      </div>
    </div>
  </div>
<% end %>
