SUBCAT

<%= form_for :subcategories, url: "/subcategories" do |f| %>
  <%= label_tag(:name, "Name") %>
  <%= text_field_tag :name %> <br>
  <%= label_tag(:category, "Category") %>
  <%= f.collection_select :category,  Category.where(:user_id => current_user.id), :id, :title %> <br>

  <%= hidden_field_tag :user_id, @user %>
  <%= f.submit "Add a new Category!" %>
<% end %>


<% @cats.each do |x| %>
  <h4><%= x[:title] %></h4>
  <% @subcats.each do |y| %>
    <ul>
    <% if y[1] == x.id %>
      <li><%= y[0] %></li>
    <% end %>
    </ul>
  <% end %>

<% end %>
