<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>Annual Budget Setup</h2>
        <p>Congrats on setting up your categories & subcategories!</p>
        <p>The next step is to set up your annual budget below. Select an amount to budget per month for each subcategory. If you need to adjust a specific month's budget, you can click into that month and edit each subcategory's budget there. </p>
        <p>If you would like to delete a subcategory's budget, please use the link on the far right in the table. This will delete the budget you created for every month.</p>
        <p>When you have finished setting up your annual budget, start tracking your <a href="/income?year=<% @year %>">income</a> and <a href="/expenses?year=<% @year %>">expenses</a>.</p>

        <%= form_for :monthly_budget, url: "/monthly_budget" do |f| %>
          <%= label_tag(:amount, "Amount") %>
          <%= text_field_tag :amount %> <br>
          <%= label_tag(:subcategory, "Subcategory") %>
          <%= f.collection_select :subcategory,  Subcategory.where(:user_id => current_user.id), :id, :name %> <br>
          <%= hidden_field_tag :month, "ALL" %>
          <%= hidden_field_tag :year, params[:year] %> <br>
          <%= hidden_field_tag :user_id, @user %>
          <%= f.submit "Add a new Budget!", class: "btn btn-info btn-xs" %>
        <% end %>


   </div>
  </div>
</div>
<div class="container">
  <h3 class="text-center subcategory-title">Your <%= @year %> budget:</h3>
</div>


<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-10 col-md-offset-1 ">
      <table border="1" class="table">
        <tr>
          <th>CATEGORY</th>
          <th>Subcategory</th>
          <th><a href="/monthly_budget/January">Jan</a></th>
          <th><a href="/monthly_budget/February">Feb</a></th>
          <th><a href="/monthly_budget/March">Mar</a></th>
          <th><a href="/monthly_budget/April">Apr</a></th>
          <th><a href="/monthly_budget/May">May</a></th>
          <th><a href="/monthly_budget/June">Jun</a></th>
          <th><a href="/monthly_budget/July">Jul</a></th>
          <th><a href="/monthly_budget/August">Aug</a></th>
          <th><a href="/monthly_budget/September">Sep</a></th>
          <th><a href="/monthly_budget/October">Oct</a></th>
          <th><a href="/monthly_budget/November">Nov</a></th>
          <th><a href="/monthly_budget/December">Dec</a></th>
          <th>Delete</th>
        </tr>
        <% @cats.each do |cat| %>
            <% @subcats.each do |subcategory| %>
              <% if subcategory[1] == cat.id %>
                <tr>
                  <td><%= cat. title %></td>
                  <td><%= subcategory[0] %></td>
                  <% @budgets.each do |budget| %>
                    <% if budget.subcategory_id == subcategory[2] %>
                      <td class="text-center"><%= budget.amount %></td>
                      <% if budget.month_num == 12 %>
                        <td><%= link_to 'Destroy', budget, data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>

              <% end %>
            <% end %>
              <tr>
                <td colspan="2"><%= cat.title.upcase %> TOTAL</td>
                <!-- other stuff related to table -->
              </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>






