BUDGET SETUP

<%= form_for :budget, url: "/budget_setup" do |f| %>
  <%= label_tag(:name, "Name") %>
  <%= text_field_tag :name %> <br>
  <%= label_tag(:amount, "Amount") %>
  <%= text_field_tag :amount %> <br>
  <%= label_tag(:cateogry, "Category") %>
  <%= text_field_tag :category %> <br>
  <%= hidden_field_tag :month, "ALL" %>
  <%= label_tag(:year, "Year") %>
  <%= text_field_tag :year, "2017" %> <br>
  <%= hidden_field_tag :user_id, @user_id %>
  <%= f.submit "Add a new Subcategory!" %>
<% end %>

<br><br>

<table border="1">
  <tr>
    <th>CATEGORY</th>
    <th>Subcategory</th>
    <th>Delete?</th>
    <th><a href="/budget_setup/January">January</a></th>
    <th><a href="/budget_setup/February">February</th>
    <th><a href="/budget_setup/March">March</th>
    <th><a href="/budget_setup/April">April</th>
    <th><a href="/budget_setup/May">May</th>
    <th><a href="/budget_setup/June">June</th>
    <th><a href="/budget_setup/July">July</th>
    <th><a href="/budget_setup/August">August</th>
    <th><a href="/budget_setup/September">September</th>
    <th><a href="/budget_setup/October">October</th>
    <th><a href="/budget_setup/November">November</th>
    <th><a href="/budget_setup/December">December</th>
  </tr>

  <% @cat.each do |cat| %>
    <tr>
      <% @countOfSubcats.each do |x| %>
        <% if x[0] == cat.category %>
          <% @rowz = x[1] + 1 %>
        <% end %>
      <% end %>
      <td rowspan=<%= @rowz %>><strong> <%= cat.category %></strong> </td>
    <% @group.each do |subcategory| %>
      <% if cat.category == subcategory.category %>
        <td><%= subcategory.name %><br></td>
        <!-- <td> test </td> -->

        <%= form_for(:subcategory, {:id => 1, :method => :delete}) do |e| %>
            <%= text_field_tag :delete_id, (Subcategory.where(:name => subcategory.name).where(:user_id => current_user.id).first).id %>
            <%= hidden_field_tag :name, subcategory.name %>
          <td><%= e.submit "Delete" %></td>
        <% end %>

        <% @monthAmounts.each do |month| %>
          <% if month.name == subcategory.name %>
            <td><%= month.amount %>  </td>
          <% end %>
        <% end %>
      <% end %>
        </tr>

  <% end %>
  <tr>
      <td><%= cat.category %> total </td>
    </tr>
  <% end %>

</table>








