<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>Categories</h2>
      <p>Welcome to the first step in setting up your budget!</p>
      <p>Please create categories below. We recommend you have around 10 categories for your budget. Here are some examples of categories you may want to include to help get started: home, transportation, food, shopping, health & grooming, vacation, entertainment, pets, and children. </p>
      <p class="bottom-p">When you feel comfortable with your categories, you can move on to create <a href="/subcategories">subcategories</a>. Don't worry - you can always come back to add or edit your categories.</p>
      <%= form_for :categories, url: "/categories" do |f| %>
        <%= text_field_tag :title, nil, placeholder: "Your category", class: "category_input" %> <br>
        <%= hidden_field_tag :user_id, @user %>
        <%= f.submit "Add Category!", class: "btn btn-info btn-xs" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-md-offset-4">
      <table border="1" class="table category_table">
        <tr>
          <th>Description</th>
          <th>Update?</th>
          <th>Delete?</th>
        </tr>
        <% @categories.each do |category| %>
          <tr>
          <%= form_for :categories, url: "/categories/#{category.id}", :method => :put do |f| %>
            <td><%= text_field_tag :title, category.title %></td>
            <td><%= f.submit "Update!", class: "btn btn-success btn-xs" %></td>
          <% end %>
            <td><%= link_to 'Delete', category, data: {:confirm => 'Are you sure? Deleting this category will delete all subcategories associated as well as any expenses related.'}, :method => :delete %></td>
        </tr>
        <% end %>
    </div>
  </div>
</div>
