<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2 class="month-title"><%= @month %></h2>
      <p class="bottom-p">On this page, you can add monthly expenses. You can also edit and delete monthly and recurring expenses.</p>
      <h4>Add an expense below: </h4>
      <%= form_for :expense, url: "/expenses" do |f| %>
        <%= label_tag(:description, "Description") %>
        <%= text_field_tag :description %> <br>
        <%= label_tag(:amount, "Amount") %>
        <%= text_field_tag :amount %> <br>
        <%= label_tag(:subcategory, "Subcategory") %>
        <%= f.collection_select :subcategory,  Subcategory.where(:user_id => current_user.id), :id, :name %><br>
        <%= label_tag(:day, "Day") %>
        <%= f.select :day, (1..31) %>

        <%= label_tag(:month, "Month") %>
        <%= text_field_tag :month, params[:id], :readonly => true %>
        <%= label_tag(:year, "Year") %>
        <%= text_field_tag :year, params[:year], :readonly => true %>
        <%= hidden_field_tag :user_id, @user %>
        <%= f.submit "Add an Expense", class: "btn btn-info btn-xs" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="text-center subcategory-title">Your <%= @month %> expenses:</h3>
</div>
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-10 col-md-offset-1 ">
      <table border="1" class="table">
        <tr>
          <th>Description</th>
          <th>Amount</th>
          <th>Day</th>
          <th>Month</th>
          <th>Year</th>
          <th>Update?</th>
          <th>Delete?</th>
        </tr>
      <% @monthExpense.each do |expense| %>
        <tr>
          <%= form_for :expense, url: "/expenses/#{expense.id}", :method => :put do |f| %>
            <td><%= text_field_tag :description, expense.description %></td>
            <td><%= text_field_tag :amount, expense.amount %></td>
            <td><%= text_field_tag :day, expense.day %></td>
            <td><%= text_field_tag :month, expense.month, :readonly => true %></td>
            <td><%= text_field_tag :year, expense.year, :readonly => true %></td>
            <td><%= f.submit "Update!", class: "btn btn-info btn-xs" %></td>
          <% end %>
            <td><%= link_to 'Destroy', expense, data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
