
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3 text-center">
      <table border="1" class="table">
        <h2><%= "#{@month}'s Budget" %> </h2>
        <div id="gapAfterMonth"> </div>
        <p> Please use the below to edit <%= "#{@month}'s" %> budget. A good use of this page is to edit a budget if their are certain months that will have a different amount for a particular subcategory. To set up the budget for every month, please return to the <a href=<%= "/monthly_budget?year=#{@year}"%>> monthly budget </a> page. </p>
        <div id="spaceOnShow"> </div>
        <tr>
          <th>CATEGORY</th>
          <th>Subcategory</th>
          <th><%= @month %></th>
          <th>Update</th>
        </tr>
        <% @categories.each do |cat| %>
            <% @subcategories.each do |subcategory| %>
              <% if subcategory[1] == cat.id %>
                <tr>
                  <td><%= cat. title %></td>
                  <td><%= subcategory[0] %></td>
                  <% @budgets.each do |budget| %>
                    <% if budget.subcategory_id == subcategory[2] %>
                      <%= form_for :budget, url: "/monthly_budget/#{budget.id}", :method => :put do |f| %>
                        <td><%= text_field_tag :amount, budget.amount %></td>
                        <td><%= f.submit "Update!", class: "btn btn-success btn-xs" %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
              <tr>
                <td colspan="2" class="warning"><strong><%= cat.title.upcase %> TOTAL</strong></td>
                <%= category_totals_by_month_individual(cat, @year, @user) %>
              </tr>
        <% end %>
          <tr>
            <td colspan="2" class="success"><strong>BUDGET TOTAL</strong></td>
            <%= overall_total_by_month_individual(@user_hash, @year) %>
          </tr>
      </table>
    </div>
  </div>
</div>
